.outOfOfficeBodyContainer {
/* 	margin: 2%; */
	padding-bottom: 100px;
}

.outOfOfficeLabelToolbar {
	margin-bottom: 30px;
}

.outOfOfficeLabelOOO {
	width: 100%;
	font-weight: bold;
}

.outOfOfficePanelText {
	width: 100%;
}

.OutOfOfficeSubstituteName {
	line-height: 48px;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.OutOfOfficeSubstituteDesignation {
	color: green;
	line-height: 48px;
	font-weight: bold;
	min-width: 22px;
}
.OutOfOfficeInputContainer {
	padding : 12px;
}

.OutOfOfficeDateBlock {
	padding-left : 12px;
	padding-right : 12px;
	
}

.OutOfOfficeReasonBlock {
	padding-left : 12px;
}

.OutOfOfficeRightBlock {
	margin-left: 50%;
}

.OutOfOfficeSubBlock {
	padding : 12px;
}

